:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
header{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

main{
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#pro_list, #New-project{
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

#pro_list{
  flex: 1;
  margin-right: 20px;
}
#pro_list p {
  color: #333; 
  font-size: 14px;
  margin-bottom: 10px;
}

#New-project{
  flex: 1;
}

h1, h2{
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form{
  padding: 20px 0;
}

form label{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

form input,
form textarea{
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(0,0,0,0.12);
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

form input:focus,
form textarea:focus{
  border-color: #3498db;
}

textarea{
  resize: none;
  height: 100px;
}

button{
  width: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.4s;
}

button:hover{
  background-position: 100%;
}

@media (max-width: 700px) {
  header{
    font-size: 28px;
  }
  h1, h2{
    font-size: 24px;
  }
  main{
    flex-direction: column;
  }
  #pro_list, #New-project{
    margin-right: 0;
    width: 100%;
  }
}